.studio {
  background:$creme;
}

.blocks {
  height:100vh;
  width:100%;
  position: relative;
}

/* FRONT SECTION */

.front-container {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.front-container img {
  width:100%;
  max-height:100%;
  margin-bottom: 1rem;
}

.front-container h1 {
  text-transform: uppercase;
  margin-top:1rem;
  color: #333333;
  font-size: 2rem;
  letter-spacing: 10px;
}

.scroll-downs {
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid rgba(51,51,51,0.8);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  margin-top: 2rem;
  transform: scale(0.8); // pour pas me faire chier à changer les valeurs
  opacity:0;
  transition: opacity 0.5s;
}

.front-active .mousey {
  opacity:1;
}

.scroller {
  width: 3px;
  height: 11px;
  border-radius: 30%;
  background-color: #333;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(10px); opacity: 0;}
}


/* PRESENTATION SECTION */

.presentation-container, .craft-container {
  position: relative;
  top: calc(4rem + 2vw);
  text-transform: uppercase;
  padding: 0 2vw;
}

.border-wipe-effect {
  border-bottom: 8px solid $blue;
  width:0%;
  transition:width 0.8s ease-out 0.5s;
}

.presentation-active .border-wipe-effect, .craft-active .border-wipe-effect {
  width:100%;
}


.presentation-container h1 {
  color:$blue;
  font-size: 5.4rem;
}

.presentation-container h2 {
  color:#333;
  font-size: 2rem;
  text-transform: none;
  margin-top:8vh;
}

.realize {
  text-align:right;
}

.box-overflow {
  height:4rem;
  overflow:hidden;
}

.box-scroller p {
  color:$orange;
  font-size: 3rem;
  font-weight: 800;
  margin:0;
  height: 4rem;
  max-width: 100%;
}

.box-scroller-animation-active {
  transition: transform 0.5s;
}

.realize .box-scroller {
  margin-top:-12rem; // en fonction du nombre d'éléments, cf. weDoList
}

.presentation h1, .presentation h2, .craft h1 {
  transform:translateY(100%);
  transition: transform 0.8s ease-in-out 0s;
}

.presentation-active h1, .presentation-active h2, .craft-active h1 {
  transform:translateY(0%);
  transition-delay: 1s;
}

.presentation-active .exist h2 {
  transition-delay: 1.5s;
}

.presentation-active .realize h2 {
  transition-delay: 2s;
}

.active-block h1, .active-block h2 {
  display: block;
}


.presentation .box-overflow {
  transform:scale(0.8);
  opacity:0;
  transition: transform 0.8s ease-in-out 2.5s, opacity 0.8s ease-in-out 0s;
}

.presentation-active .box-overflow {
  transform:scale(1);
  opacity:1;
  transition-delay: 2.5s, 2.5s;
  display: block;
}


/* new anim box-scroller
.box-overflow {
transition:1s;
opacity: 0;
transform:scale(0.8);
transition-delay: 0.2s;
}

.presentation-active .box-overflow {
opacity:1;
transform:scale(1);
transition-delay: 2s;

}

/* CRAFT SECTION */
.craft-container .border-wipe-effect {
  border-color: $yellow;
}

.craft-container h1 {
  color:$yellow;
  font-size: 3.5rem;
}


.craft-container {
  padding:0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem - 2vw);
}

.test {
  flex:1;
}

.craft-title-container {
  margin: 0 2vw;

}

.craft-subcontainer {
  width:100%;
  flex:3;
  display: flex;
  position:relative;
  overflow: hidden;
}

.craft-block {
  flex:1;
  height:calc(100% - 1rem);
  border-right:1px solid #333333;
  margin-top:1rem;
}

.craft-subcontainer div:last-child {
  border: none;
}

.hidden-craft-block, .visible-craft-block {
  width:100%;
  height:100%;
  position:relative;
}

.visible-craft-block {
  transition: top 0.5s ease;
  z-index: 1;
  background: $creme;
  top:0;
  cursor:pointer;

}

.visible-craft-block > div, .hidden-craft-block > div {
  display: flex;
  flex-direction: column;
  @extend %centered-flex;
  height:80%;
  width:100%;
  top:10%;
  position: relative;
}

.craft-block h2 {
  text-align: center;
  margin-top: 5vh;
  color:$blue;
  font-weight: 600;
  font-size: 1.5rem;
}

.visible-craft-block img {
  max-width:70%;
  height:100%;
}

.hidden-craft-block img {
  max-width:30%;
}


.hidden-craft-block h2 {
  margin-top:0;
  margin: 3vh 0;
  font-size: 1.2rem;
}

.hidden-craft-block p {
  max-width: auto;
  color:#fff;
  text-transform: none;
  margin:0;
  text-align: justify;
  padding:0 2vw;
}

.hidden-craft-block {
  background:#333333;
  top:-100%;
  z-index: 0;
}

.open-craft-block {
  top:100%;
}

// new anim craft-block
.craft-block {
  transition:1s;
  opacity: 0;
  transform:scale(0.8);
  transition-delay: 0.2s;
}

.craft-active .craft-block {
  opacity:1;
  transform:scale(1);
  transition-delay: 2s;

}


/* TEAM SECTION */
.team {
  display: flex;
}

.team-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: left;
}

.team-pic {
  height: 50vh;
  float: left;
  width: auto;
  position: relative;
  cursor: pointer;

}

.team-caption {
  position:absolute;
  bottom:8%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size: 1rem;
  z-index:2;
  transition: opacity 0.5s;
}

.team-caption span:first-child {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.6rem;
}

.team-filter {
  opacity:1;
  width:100%;
  height:100%;
  position: absolute;
  z-index: 1;
  transition: opacity 0.5s;
}

.team-pic:hover .team-filter, .team-pic-active .team-filter {
  opacity:0;
}

.team-pic-active .team-caption {
  opacity:0;
  color:$orange;
}


.team-previews {
  width:100%;
  height:100%;
  position: absolute;
  z-index:3;
  transition: width 1.4s ease-out, opacity 0.9s ease-out;
}

.team-active {

  .team-previews {
    width:0%;
    opacity: 0.2;
  }

  .team-pic-1 .team-previews {
    transition-delay: 2s, 2.4s;
  }

  .team-pic-2 .team-previews {
    transition-delay: 1.2s, 1.6s;
  }

  .team-pic-3 .team-previews {
    transition-delay: 1.6s, 2.0s;
  }

  .team-pic-4 .team-previews {
    transition-delay: 2.1s, 2.5s;
  }

}

.team-pic img {
  max-height: 50vh;
  max-width: 50vh;
}

$transition-team: opacity 0.4s ease-out, transform 0.4s ease-out;

.team-text {
  height:100%;
  flex:1;
  color:#333333;
  position: relative;
}

.team-text .team-textarea, .team-text h1 {
  opacity: 0;
  //transform:rotateY(310deg);
  transform:scale(0.9);

}

.team-not-active .team-text .team-textarea, .team-not-active .team-text h1 {
  opacity:0;
  //transform:rotateY(310deg);
  transform:scale(0.9);
  transition: $transition-team;
}

.team-text-animation .team-textarea, .team-text-animation h1 {
  opacity:1;
  transition: $transition-team;
  //transform:rotateY(360deg);
  transform:scale(1);
}

.team-text h1 {
  transition-delay: 0.3s !important;
}

.team-text-first-active-animation h1 {
  opacity:1;
  //transform:rotateY(360deg);
  transform:scale(1);
  transition-delay: 0.9s !important;

}

.team-text-first-active-animation .team-textarea  {
  transition-delay: 1.2s;
}

.team-text h1, .team-text h2, .team-text h3 {
  text-align: center;
  letter-spacing: 4px;
  font-size:1.5rem;
  font-weight: 700;

}

.team-text h1 {
  transition: 1s ease;
  text-transform: uppercase;
  font-size:2.5rem;
  margin-top:calc(4rem + 2vw + 2vh);
  margin-bottom:5vh;
}

.team-text h2 {
  color:$orange;
  margin-bottom:3vh;
  text-transform: uppercase;
}

.team-text h3 {
  font-weight: 600;
  margin-bottom:3vh;
}

.team-description {
  padding:0 3vw;
  text-align: justify;
}

.team-description p {
  max-width:100%;
}

.team .bloc-expertises {
  padding:0 3vw;
  margin-top:0;
}

.team .expertise-text {
  font-weight: 700;
  width:calc(50% - 2rem);
  color:#333333;
}

.team .expertise-gauge {
  background: $orange;
  transition: 0s;
}

.team .team-gauge-animation {
  transition: width 0.5s ease;
}

@keyframes back-arrow-moving-one{
  0%{transform: translateX(0px);
  }
  50%{  transform: translateX(-2px);
  }
  100%{  transform: translateX(0px);
  }

}

@keyframes back-arrow-moving-two{
  0%{transform: translateX(0px);
  }
  50%{  transform: translateX(2px);
  }
  100%{  transform: translateX(0px);
  }
}

.back-to-general {
  position: absolute;
  left:2vw;
  bottom:2vw;
  width:2.5rem;
  height:2.5rem;
  cursor: pointer;
  transform:rotate(180deg);
  transition: opacity 0.5s;
  opacity:0;
}

.back-to-general svg {
  height:inherit;
  width:inherit;
}

.back-to-general svg polyline, .back-to-general svg circle {
  fill:none;
  stroke:#333333;
  stroke-width:3;
  stroke-miterlimit:10;
  transition: transform 0.5s ease, stroke 0.5s ease;
}

.back-to-general svg circle {
  display: block;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transition: transform 0.5s ease, stroke 0.5s ease, stroke-dashoffset 0.5s ease;
}

.back-to-general:hover svg circle {
  stroke-dashoffset: 200;
  stroke:$orange;
}

.back-to-general:hover svg polyline {
  stroke:$orange;
}

.back-to-general:hover .back-arrow-polyline-one {
  animation-name: back-arrow-moving-one;
  @extend %standard-animation;
  animation-duration: 0.5s;

}

.back-to-general:hover .back-arrow-polyline-two {
  animation-name: back-arrow-moving-two;
  @extend %standard-animation;
  animation-duration: 0.5s;

}

.team-socials {
  width:100%;
  text-align: center;
  height: 2.2rem;
  position: relative;
}

.team-socials img {
  height:100%;
  margin:0 1rem;
  transition: opacity 0.3s;

}

.team-socials a:hover img {
  opacity: 0.7;
}


// new anim team-pic
.team-pic {
  transition:0.5s;
  opacity: 0;
  transform:scale(0.7);
  overflow: hidden;
}

.team-active .team-pic {
  opacity:1;
  transform:scale(1);
  transition-delay: 0.5s;

}
