/* GENERAL */

$font-stack: "Montserrat", sans-serif;
$orange: #ff6842;
$blue: #8ac9ad;
$yellow: #f6a841;
$creme: #faf8e7;

%standard-animation {
animation-fill-mode: both;
animation-iteration-count:1;
}

%centered-flex {
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
@import './modules/portfolio/portfolio';
@import './modules/studio/studio';

body {
  overflow: hidden;
  margin: 0;
}

.App {
  font-family: $font-stack;
}

a, h1, h2, h3, h4, button, ul {
  color: inherit;
  padding:0;
  margin:0;
  border:none;
  background:transparent;
  outline:none;
}

h1, h2 {
  font-weight: 800;
  letter-spacing: 1px;
}

.text-wipe-effect{
  overflow: hidden;
}

.main-animation {
  height:100%;
  width:200vw;
  background:#000;
  position: fixed;
  z-index:99;
  right:-200%;
  transition: right 3s;
  display: flex;
}

.animation-activated-from-right {
  right:100%;
}

.animation-activated-from-left {
  right:-200%;
}

.main-animation div {
align-items: center;
flex:1;
justify-content: center;
text-align: center;
color:#fff;
font-size: 220px;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 40px;
}

.logo, .switch-button {
  position: fixed;
  z-index: 10;
  right:2%;
  top:2vw;
}

.logo {
  left:2%;
  right:auto;
  height:2rem;
}

.logo img {
  height:100%;
}

.logo-portfolio {
  right:2%;
  left:auto;
}

.logo-active {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

.logo-inactive {
  opacity:0;
  transition: opacity 0.3s;
}

.switch-button {
  font-size: 2rem;
  transition:1.5s;
  z-index: 100;
  color:#fff;
  background: #000;
}

.switch-portfolio {
  right:98%;
  margin-left:30px;
}

.wipe-up-in, .wipe-down-in, /*.wipe-up, .wipe-down,*/ .scale-opacity-in, .scale-opacity-out{
    overflow: hidden;
    margin: 0 auto;
    animation-name: wipe-up-in;
    display:none;
    @extend %standard-animation;
    animation-duration: 2s;
}

.wipe-down-in {
    animation-name: wipe-down-in;
}

/*
.wipe-up {
  animation-duration: 1.3s;
  animation-name: wipe-up;
}

.wipe-up-out {
  animation-name:wipe-up-out;
  animation-duration: 1s;
transform:translateY(100%);
}
*/

.scale-opacity-in {
  animation-name: scale-opacity-in;
  animation-duration: 1s;
}

.scale-opacity-out {
  animation-name: scale-opacity-out;
  animation-duration: 1s;
}

/*
.wipe-down {
  animation-name: wipe-down;
}

.wipe-down-out {
  animation-name:wipe-down-out;
  animation-duration: 1s;
}
*/

@keyframes wipe-up-in{
  0%{opacity:0;transform:translateY(100%)}
  100%{opacity:1;transform:translateY(0)}
}

@keyframes wipe-down-in{
  0%{opacity:0;transform:translateY(-100%)}
  100%{opacity:1;transform:translateY(0)}
}

/*
@keyframes wipe-up{
  0%{transform:translateY(100%)}
  100%{transform:translateY(0)}
}

@keyframes wipe-up-out{
  0%{transform:translateY(0%)}
  100%{transform:translateY(100%)}
}

*/
@keyframes scale-opacity-in{
  0%{opacity:0;  transform:scale(0.8);
}
  100%{opacity:1;  transform:scale(1);
}
}

@keyframes scale-opacity-out{
  0%{opacity:1;transform:scale(1);
}
  100%{opacity:0;transform:scale(0.8);
}
}

/*@keyframes wipe-down{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}

@keyframes wipe-down-out{
  0%{transform:translateY(0%)}
  100%{transform:translateY(-100%)}
}*/


@media (max-width: 640px) {
  html {
    font-size:11px;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  html {
    font-size:13px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size:14px;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size:16px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size:20px;
  }
}
